<!doctype html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Employee Management</title>
  <base href="/">
  <link rel="stylesheet" href="assets/css/select2.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="styles.9aa05a9485dfd2900a66.css"></head>
<body>
  <app-root></app-root>
  <div class="loader-outer" id="preloader">
    <div class="loader-container">
        <div class="loader-inner">
            <div class="loader">
              <div id="top" class="mask">
                <div class="plane"></div>
              </div>
              <div id="middle" class="mask">
                <div class="plane"></div>
              </div>
              <div id="bottom" class="mask">
                <div class="plane"></div>
              </div>
              <p class="loader-text">{{company_name}}</p>
            </div>
        </div>
    </div>
  </div>
    <script src="//cdn.ckeditor.com/4.7.1/full/ckeditor.js" async></script>
<script type="text/javascript" src="runtime.b8efb14f236582e2f831.js"></script><script type="text/javascript" src="polyfills.45ec2169be626c69e328.js"></script><script type="text/javascript" src="scripts.4b25c56964cad55fe848.js"></script><script type="text/javascript" src="main.1f58dee61e562502b15d.js"></script></body>
</html>
